@font-face {
    font-family: 'Minecrafter';
    src: url("Minecrafter.Reg.ttf");
}

.navbar {
    display: flex;
    flex-direction: row;
    padding-top: 5vh;
    padding-left: 2.5vw;
    padding-bottom: 3vh;
    background-color: black;
    color: white;
  }
  

  .home-btn {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    color: white;
    text-decoration: none;
    position: absolute;
    right: 2.5vw;
  
  }

.home-btn:hover {
    color: #B2085C;
    transform: translateY(-2px);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
}

.headline {
    font-family: 'Minecrafter';
    font-size: 1.7em;
    color: white;
    letter-spacing: 0.1em;
  }

body {
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.container-about {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    align-items: left;
}

.text-boxes {
    display: flex;
    flex-direction: row;
}

.text-container {
    margin-left: 2rem;
    margin-top: 3rem;
    margin-right: 2rem;
    width: 40%;
}

p {
    font-size: 1rem;
}

.container-profiles {
    display: flex;
    position: absolute;
    bottom: 2.5rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 35vh;
    background-color: #292929;
    border-radius: 0px;
    padding-top: 1rem;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.h2-profile {
    font-size: 1.2rem;
    margin-top: 0.8rem;
    margin-bottom: 0;
}

.p-profile {
    font-size: 0.9rem;
    margin-top: 0.5rem;
    color: #B2085C;
}

.img-about {
    height: 15vw;
    width: 15vw;
    object-fit: cover;
    object-position: 0% 0%;
    border-radius: 100%;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, .3);
}