@font-face {
    font-family: 'Minecrafter';
    src: url("Minecrafter.Reg.ttf");
}

body {
  background-color: #292929;
  height: 100vh;
}

.heatmap-container {
  /* background-image: url("./resources/map.png"); */
  width: 900px;
  height: 600px;
  margin-top: 10px;
  margin-left: 10px;
  /* //overflow: scroll; */
}

.btns-group {
  display: flex;
  flex-direction: column;
  z-index: 5;
  position: absolute;
  right: 5%;
  bottom: 5%;
}


.flex-view {
  display: flex;
  flex-direction: row;
}

.navbar {
  display: flex;
  flex-direction: row;
  padding-top: 5vh;
  padding-left: 2.5vw;
  padding-bottom: 3vh;
  background-color: black;
  color: white;
}

.home-btn {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  color: white;
  text-decoration: none;
  position: absolute;
  right: 2.5vw;

}

.demo-btn {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  color: white;
  text-decoration: none;
  position: absolute;
  right: 150px;
}

.home-btn:hover {
  color: #B2085C;
  transform: translateY(-2px);
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
}

.demo-btn:hover {
  color: #B2085C;
  transform: translateY(-2px);
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
}

.headline {
  font-family: 'Minecrafter';
  font-size: 1.7em;
  color: white;
  letter-spacing: 0.1em;
}

h1, h2{
  font-family: 'Minecrafter';
  color: white;
  letter-spacing: 0.1em;
}

h1{font-size: 2em;}


h2{font-size: 1em;}

a {
    all: unset;
    cursor: pointer;
}

ul{
    color: white;
    padding-inline-start: 0;
    margin: 0px;
    }

/* #about{
    float: right;
    height: 40px;
    margin-top: 10px;
    background-color: #292929;
    list-style-type: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 7px;
} */
/* #about:hover {
    background-color: #B2085C;
    transform: translateY(-2px);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
    cursor: pointer;
} */

.sidebar-comp{
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 30vw;
  height: 90vh;
}

.sidebar-chart {
  margin: 0;
}

.h2-sidebar {
  margin-top: 40px;
  font-size: 28px;
  align-self: center;
}

.h2-chartText {
  margin-left: 1.2em;
}

.head-group {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-left: 1.2em;
  margin-bottom: 20px;
}

.head-group-skull {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-left: 1.2em;
  margin-bottom: 0px;
}

.h2-players {
  margin-left: 1.2em;
}
/* 
.p-players {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  margin-left: 10px;
  font-size: 12px;

} */

.img-head-world {
  height: 3em;
}
.img-head {
  height: 3em;
}


.hr-sidebar {
  border-top: 2px solid #3D3B3B;
  width: 80%;
  align-self: center;
  margin: 0.8;
}

.player-list-container {
  align-self: center;
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 70%;
  height: 30%;
  overflow: scroll;
}

::-webkit-scrollbar {
  width: 0.6em;
  height: 0px;
  }

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px 10px black;
  border: solid 3px transparent;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px 10px #C4C4C4;
  border: solid 3px transparent;
  border-radius: 10px;
}

.player-container {
  height: 3em;
  margin-bottom: 10px;
  background-color: #292929;
  list-style-type: none;
  font-family: 'Montserrat', sans-serif;
  padding: 7px;
  position:static;
}


.player-lastseen{
  color: rgb(194, 194, 194);
  font-family: 'Montserrat';
  margin-top: -20px;
  font-size: 10px;
  float : right;
  text-align: right;
}

.player-container:hover {
  background-color: #B2085C;
  cursor: pointer;
}

.player-container-selected {
  height: 3em;
  margin-bottom: 10px;
  background-color: #B2085C;
  list-style-type: none;
  font-family: 'Montserrat', sans-serif;
  padding: 7px;
  cursor: pointer;
  display:flex;
  flex-direction: row;
  justify-content:space-between;
  
}
.player-container-selected:hover {
  background-color: #b2447b;
}
.player-container-selected:hover::after {
  content:"\274c";
  line-height : 50px;
  font-size:30px;
  z-index: 1; 

}

.online-players{
  padding: 15px;
  font-size: 14px;
  color: white;
  font-family: 'Minecrafter';
}
.offline-players {
  padding: 15px;
  font-size: 14px;
  color: #827E7E;
  font-family: 'Minecrafter';
}
.online-status {
  color: white;
  font-family: 'Montserrat';
  margin-top: -20px;
  font-size: 10px;
  text-align: right;
}

select {
  position: relative;
  font-family: 'Montserrat';
  color: white;
  background-color: black;
  border: none;
  width: 21vw;
  float:right;
  margin-right: 3.2vw;
  margin-top: 1vh;
  outline: 0;
  cursor: pointer;
}

.select::-ms-expand{
  color: black;
  
}
.wrapper {
  position: relative;
  display: flex;
  min-width: 100px;
}
.searchBar {
  color:grey;
  text-align: left;
  border-radius: 5px;
  height: 20px;
  width: 120px;
  margin-bottom: 7px;
  margin-left: 2em;
  padding: 2px 23px 2px 30px;
  background-color: black;
  border: 1px solid grey;  
}

#d3-container{margin-bottom: 2vh;}

.slider{
  margin-left: 90px;
  width: 50%;
  margin-top: 25px;
  margin-bottom: 20px;
  background: #B2085C;
}

.slidecontainer {
  font-size: 0.8rem;
}

#chosen-day-range{
  font-family: 'Montserrat', sans-serif;
}
